@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');






/* shared styles */

* {
    margin: 0;
    padding: 0;
}

/* font quicksand */
.font-quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* font raleway */
.font-raleway {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.display-flex {
    display: flex;
}


.btn-color {
    background: orange;
}


/*nav bar */
.orange {
    color: orange;
}

.sky-blue {
    color: skyblue;
}

.aquamerin {
    color: rgba(5, 212, 223, 1);
}

.deep-purple {
    color: rgba(93, 88, 239, 1);
}

.nav-bar {
    max-width: 90rem;
    padding: 1.25rem 8.75rem;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.nav-img-text {
    max-width: 12.625rem;
    position: relative;
    left: 3rem;
    padding: 0;
    align-items: center;
}

.nav-bar .nav-img-text>h3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.875;
}

.nav-img-text>img {
    max-width: 3.875rem;
    max-height: 3.875rem;
}

.nav-links {
    max-width: 24.1875rem;
    position: relative;
    left: 3.875rem;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.link-items a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.875rem;
}

.button-primary {
    max-width: 12.5rem;
    position: relative;
    left: 7rem;
    border-radius: 0.75rem;
    border: none;
    padding: 0.625rem 3.75rem;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
}


/*hero section*/

.black-1 {
    color: black;
}

.white-1 {
    color: rgba(255, 255, 255, 1);
}

.hero-container {
    max-width: 72.5rem;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.hero-container .hero-text-container {
    max-width: 40rem;
    padding: 0;
}

.hero-container .hero-img-container img {
    max-width: 29.25rem;
}

.hero-container .hero-text-container>h1 {
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.75rem;
}

.hero-container .hero-text-container>p {
    margin-bottom: 1.5REM;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: auto;
}

.hero-btn-1 {
    max-width: 12.5rem;
    padding: 0.625rem 2.875rem;
    border-radius: 0.75rem;
    border: none;
    background-color: black;
    color: rgba(255, 255, 255, 1);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.875rem;

}




/* banner section */

.black-2 {
    color: rgba(0, 0, 0, 1);
}

.black-3 {
    color: rgba(32, 32, 32, 1);
}

.gray-1 {
    color: rgba(128, 128, 128, 1);
}

.sky-blue-1 {
    color: rgba(100, 200, 255, 1);
}

.orange-1 {
    color: rgba(240, 170, 0, 1);
}

.deep-purple-1 {
    color: rgba(135, 0, 255, 1);
}

.banner-container {
    /* background-color: aquamarine; */
    background-image: url(assets/bg.png);
    background-position: center;
    background-size: contain;
    /* background-size:cover;
    background-repeat: no-repeat; */
    max-width: 90rem;
    margin: 0 auto;
    padding: 3.75rem 0rem 3.75rem 0rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.banner-head {
    margin-bottom: 5rem;
    font-size: 2.875rem;
    font-weight: 600;
    line-height: 3.625rem;
}

.banner-card-container {
    max-width: 72.5rem;
    padding: 0;
    border-radius: 1.17875rem;
    gap: 1.75rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-card-container>.banner-card-1 {
    max-width: 22.9875rem;
    height: 29.796875rem;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}


.banner-card-container>.banner-card-2 {
    max-width: 22.9875rem;
    height: 29.796875rem;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.banner-card-container>.banner-card-3 {
    max-width: 22.9875rem;
    height: 29.796875rem;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}


.banner-card-1 img {
    max-width: 8.5475rem;
    max-height: 8.5475rem;
    margin-top: 3.25rem;
    margin-bottom: 2rem;
}

.banner-card-2 img {
    max-width: 8.5475rem;
    max-height: 8.5475rem;
    margin-top: 3.25rem;
    margin-bottom: 2rem;
}

.banner-card-3 img {
    max-width: 8.5475rem;
    max-height: 8.5475rem;
    margin-top: 3.25rem;
    margin-bottom: 2rem;
}

.banner-card-1 h4 {
    margin-bottom: 2.0625rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.875;
    color: rgba(32, 32, 32, 1);
}

.banner-card-2 h4 {
    margin-bottom: 2.0625rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.875;
    color: rgba(32, 32, 32, 1);
}

.banner-card-3 h4 {
    margin-bottom: 2.0625rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.875;
    color: rgba(32, 32, 32, 1);
}

.banner-card-1 p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.banner-card-2 p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.banner-card-3 p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.ancore-link a {
    margin-bottom: 3.25rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.75rem;
}

.banner-button {
    margin-top: 5rem;
    gap: 0.625rem;
    padding: 0;
    max-width: 8.125rem;
    height: 3.75rem;
    justify-content: space-between;
    align-items: center;
}

.banner-button-1 {
    max-width: 3.75rem;
    max-height: 3.75rem;
    padding: 1rem 1.375rem;
    border: none;
    background-color: orange;
    border-radius: 1.875rem;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.5rem;
    letter-spacing: 0%;
    text-align: center;
}








/* our stories section */

.aquamerin-1 {
    color: rgba(60, 216, 232, 1);
}

.olive {
    color: rgba(149, 178, 38, 1);
}

/* deep purple */
/* black-2 */
/* black-1 */

.story-featured {
    max-width: 90rem;
    margin: 0 auto;
    padding: 3.75rem 0rem 3.75rem 0rem;
    background: url("assets/bg.png"), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
    background-position: center;
    background-size: contain;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.story-featured-head {
    font-size: 2.875rem;
    font-weight: 600;
    line-height: 3.6rem;
}

.featured-stories {
    max-width: 72.5rem;
    /* max-height: 39.375rem; */
    margin: 5rem auto;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.featured-story-1 {
    max-width: 33.75rem;
    height: 100%;
    border-radius: 1rem;
    background: rgb(255, 255, 255);
}

.featured-story-1 img {
    max-width: 100%;
    border-radius: 16px 16px 0px 0px;
    background: rgb(217, 217, 217);
}

.date-1 {
    max-width: 10.875rem;
    max-height: 3rem;
    position: relative;
    left: 2.375rem;
    bottom: 1.8rem;
    border-radius: 3rem;
    background: rgb(60, 216, 232);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 1rem 1.25rem;
}

.featured-story-1 h4 {
    margin-bottom: 3rem;
    margin-left: 2.375rem;
    margin-right: 2.375rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.375rem;
    color: rgba(0, 0, 0, 1);
}

.featured-story-1 p {
    margin-left: 2.375rem;
    margin-bottom: 2.125rem;
    margin-right: 4.25rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: rgba(102, 102, 102, 1);
}

.featured-story-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.25rem;
    row-gap: 1.25rem;
}


.featured-story-2 {
    max-width: 18.168125rem;
    height: 18.850625rem;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.featured-story-2 img {
    border-radius: 1rem 1rem 0rem 0rem;
    background: rgb(255, 255, 255);
    max-width: 18.1875rem;
    height: 11.0625rem;
}

.date-2 {
    max-width: 10.875rem;
    max-height: 2.375rem;
    padding: 0.625rem 1.125rem;
    position: relative;
    bottom: 1.8rem;
    left: 2.375rem;
    border-radius: 3rem;
    background: rgb(149, 178, 38);
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
    text-align: center;
}

.featured-story-2 h4 {
    margin-left: 2.375rem;
    margin-right: 3.375rem;
    margin-bottom: 2.0625rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: rgba(0, 0, 0, 1);
}

.featured-story-3 {
    max-width: 18.168125rem;
    height: 18.850625rem;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.featured-story-3 img {
    border-radius: 1rem 1rem 0rem 0rem;
    background: rgb(255, 255, 255);
    max-width: 18.1875rem;
    height: 11.0625rem;
}

.date-3 {
    max-width: 10.875rem;
    max-height: 2.375rem;
    padding: 0.625rem 1.125rem;
    position: relative;
    bottom: 1.8rem;
    left: 2.375rem;
    border-radius: 3rem;
    background: rgba(93, 88, 240, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
    text-align: center;
}

.featured-story-3 h4 {
    margin-left: 2.375rem;
    margin-right: 3.375rem;
    margin-bottom: 2.0625rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: rgba(0, 0, 0, 1);
}




.featured-story-4 {
    max-width: 18.168125rem;
    height: 18.850625rem;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.featured-story-4 img {
    border-radius: 1rem 1rem 0rem 0rem;
    background: rgb(255, 255, 255);
    width: 18.1875rem;
    height: 11.0625rem;
}

.date-4 {
    max-width: 10.875rem;
    max-height: 2.375rem;
    padding: 0.625rem 1.125rem;
    position: relative;
    bottom: 1.8rem;
    left: 2.375rem;
    border-radius: 3rem;
    background: rgb(149, 178, 38);
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
    text-align: center;
}

.featured-story-4 h4 {
    margin-left: 2.375rem;
    margin-right: 3.375rem;
    margin-bottom: 2.0625rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: rgba(0, 0, 0, 1);
}



.featured-story-5 {
    max-width: 18.168125rem;
    height: 18.850625rem;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.featured-story-5 img {
    border-radius: 1rem 1rem 0rem 0rem;
    background: rgb(255, 255, 255);
    width: 18.1875rem;
    height: 11.0625rem;
}

.date-5 {
    max-width: 10.875rem;
    max-height: 2.375rem;
    padding: 0.625rem 1.125rem;
    position: relative;
    bottom: 1.8rem;
    left: 2.375rem;
    border-radius: 3rem;
    background: rgb(149, 178, 38);
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
    text-align: center;
}

.featured-story-5 h4 {
    margin-left: 2.375rem;
    margin-right: 3.375rem;
    margin-bottom: 2.0625rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: rgba(0, 0, 0, 1);
}







/* footer section */

.sky-blue-2 {
    color: rgba(1, 172, 253, 1);
}

.footer-container {
    background: rgb(1, 172, 253);
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    padding: 7.75rem 9rem 10.875rem 9rem;
    max-width: 90rem;
    justify-content: space-around;
    align-items: center;

}


.first-footer-head {
    max-width: 18.75rem;
    justify-content: center;
    align-items: center;

}

.first-footer-head h2 {
    font-size: 2.625rem;
    font-weight: 600;
    line-height: 2.5rem;
}

.first-footer p {
    max-width: 25rem;
    margin-top: 2.25rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: auto;
}

.second-footer p {
    margin-bottom: 2rem;
    max-width: 9.75rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: auto;
}

.second-footer ul {
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: auto;
}
.third-footer{
    margin-top: 0rem;
}

.third-footer p {
    margin-top: 0rem;
    margin-bottom: 2rem;
    max-width: 11.25rem;
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 1.625rem;
}










@media screen and (max-width:576px) {

    /* nav bar */

    .nav-bar {
        max-width: 100%;
        padding: 0.75rem 1rem;
        border-bottom: 0.5px solid rgb(254, 163, 1);
        justify-content: space-between;
    }

    .nav-img-text img {
        max-width: 2.875rem;
        position: relative;
        right: 3rem;
    }

    .hampburger {
        max-width: 1.875rem;
        /* background: black; */
    }

    .nav-bar .hampburger>div {
        width: 1.875rem;
        height: 0.1875rem;
        margin-bottom: 0.3125rem;
        background-color: black;
    }



    /* hero section */
    .hero-container {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-text-container {
        width: 95%;
        word-wrap: break-word;
    }

    .hero-img-container img {
        width: 95%;
    }



    /* banner section */


    .story-featured-head {
        /* width: 95%; */
    }

    .banner-container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .banner-card-container {
        max-width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



    /* our-story-section */

    .featured-stories {
        max-width: 99%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



    .featured-story-group {
        margin: 0 auto;
        max-height: 100%;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }



/* footer-related-responsive-style */
.footer-container{
    max-width: 99%;
    margin:0;
    padding:0.625rem 0rem 0rem 0rem;
    gap:1rem;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
}


    .display-hide-1 {
        display: none;
    }

}