@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');






/* shared styles */

* {
    margin: 0;
    padding: 0;
}

/* font quicksand */
.font-quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* font raleway */
.font-raleway {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.display-flex {
    display: flex;
}


.btn-color {
    background: orange;
}


/*nav bar */
.orange {
    color: orange;
}

.sky-blue {
    color: skyblue;
}

.aquamerin {
    color: rgba(5, 212, 223, 1);
}

.deep-purple {
    color: rgba(93, 88, 239, 1);
}

.nav-bar {
    max-width: 90rem;
    padding: 1.25rem 8.75rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav-img-text {
    max-width: 12.625rem;
    padding: 0;
    align-items: center;
}

.nav-links {
    max-width: 24.1875rem;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.link-items a {
    text-decoration: none;
}

.button-primary {
    max-width: 12.5rem;
    border-radius: 0.75rem;
    border: none;
    padding: 0.625rem 3.75rem;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
}

/*hero section*/

.black-1 {
    color: black;
}

.white-1 {
    color: rgba(255, 255, 255, 1);
}





/* banner section */

.black-2 {
    color: rgba(0, 0, 0, 1);
}

.black-3 {
    color: rgba(32, 32, 32, 1);
}

.gray-1 {
    color: rgba(128, 128, 128, 1);
}

.sky-blue-1 {
    color: rgba(100, 200, 255, 1);
}

.orange-1 {
    color: rgba(240, 170, 0, 1);
}

.deep-purple-1 {
    color: rgba(135, 0, 255, 1);
}




/* our stories section */

.aquamerin-1 {
    color: rgba(60, 216, 232, 1);
}

.olive {
    color: rgba(149, 178, 38, 1);
}

/* deep purple */
/* black-2 */
/* black-1 */





/* footer section */

.sky-blue-2 {
    color: rgba(1, 172, 253, 1);
}


@media screen and (max-width:576px) {

    /* nav bar */

    .nav-bar {
        max-width: 100%;
        padding: 0.75rem 1rem;
        border-bottom:0.5px solid rgb(254, 163, 1);
        justify-content: space-between;
    }

    .hampburger{
        max-width: 1.875rem;
        /* background: black; */
    }
.nav-bar .hampburger > div{
    width: 1.875rem;
    height: 0.1875rem;
    margin-bottom: 0.3125rem;
    background-color: black;
}




    .display-hide-1 {
        display: none;
    }
}

